@model Vidly_authenticate.Models.Customer
@{
    ViewBag.Title = "newCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.birthDate)
        @Html.TextBoxFor(m => m.birthDate, new { @class = "form-control" })
    </div>
    <div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter) Subscribed to Newsletter?
    </label>
    </div>
}